# Dependency directories
.venv/
node_modules/

# Ruff stuff
.ruff_cache/

# Byte-compiled
__pycache__/

# Static
app/static/images/author/
app/static/css/styles.css
app/static/css/highlight.css
app/static/**/*.webp
app/static/**/*.avif

# Content
content/**/test_*

# ANSI
app/ansi/

# State (stamps)
.cache/
