[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
markdown = "*"
pyyaml = "*"
uwsgi = "*"
beautifulsoup4 = "*"
whitenoise = "*"
brotli = "*"
flask-compress = "*"
flask-caching = "*"
pydantic = "*"

[dev-packages]
djlint = "*"
black = "*"
isort = "*"
autoflake = "*"
flake8 = "*"

[requires]
python_version = "3.12"

[scripts]
dev = "sh ./scripts/dev_server.sh"
"dev:container" = "sh ./scripts/dev_server_container.sh"
prod = "uwsgi --ini ./uwsgi.ini"
format = "sh ./scripts/format.sh"
lint = "sh ./scripts/lint.sh"
"dev:css" = "pnpm run dev:css"
"build:css" = "pnpm run build:css"
