[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
markdown = "*"
pyyaml = "*"

[dev-packages]
djlint = "*"
black = "*"
isort = "*"
autoflake = "*"
flake8 = "*"

[requires]
python_version = "3.12"

[scripts]
dev = "flask run --debug --port 4000"
format = "sh ./scripts/format.sh"
lint = "sh ./scripts/lint.sh"
