{% extends "base.html" %}

{% block title %}
  {{ author.full_name }}
{% endblock title %}

{% block content %}
  <div class="w-[768px] mx-auto">
    <ul class="flex gap-2 py-24">
      <li>
        <a href="{{ url_for('views.home') }}"
           class="text-neutral-400 hover:text-neutral-300">Home</a>
      </li>
      <li class="text-neutral-400">/</li>
      <li>{{ author.full_name }}</li>
    </ul>
    <div class="flex items-center gap-10">
      <div class="flex items-center">
        <div class="space-y-10">
          <div class="space-y-3">
            <h1 class="font-black text-5xl">{{ author.full_name }}</h1>
            <h2 class="font-bold text-2xl">{{ author.role }}</h2>
          </div>
          <p>{{ author.about }}</p>
          <ul class="flex gap-4">
            <li>
              <a href="{{ author.github_url }}"
                 target="_blank"
                 rel="noopener noreferrer"
                 class="py-2 px-6 border border-neutral-200 hover:border-neutral-400 hover:text-neutral-400 rounded-full flex items-center gap-2">
                {% include "icons/github-fill.svg" %}
                Github
              </a>
            </li>
            <li>
              <a href="{{ author.linkedin_url }}"
                 target="_blank"
                 rel="noopener noreferrer"
                 class="py-2 px-6 border border-neutral-200 hover:border-neutral-400 hover:text-neutral-400 rounded-full flex items-center gap-2">
                {% include "icons/linkedin-box-fill.svg" %}
                Linkedin
              </a>
            </li>
          </ul>
        </div>
      </div>
      <img src="{{ url_for('static', filename='images/{{ author.picture }}') }}"
           alt="picture"
           width="256"
           height="256"
           class="rounded-full h-64" />
    </div>
  </div>
{% endblock content %}
