{% extends "base.html" %}

{% block title %}
  {{ project.title }}
{% endblock title %}

{% block content %}
  <div class="max-w-[1024px] mx-auto">
    <div style="background-image: url('{{ url_for('static', filename='{{ project.cover_image }}') }}')"
         class="lg:rounded-b-3xl">
      <div class="h-[700px] lg:h-[600px]">
        <div class="pt-[200px] flex flex-col justify-center">
          <div class="w-[768px] mx-auto space-y-5">
            <ul class="flex gap-2">
              <li>
                <a href="{{ url_for('views.home') }}"
                   class="text-neutral-400 hover:text-neutral-300">Home</a>
              </li>
              <li class="text-neutral-400">/</li>
              <li>
                <a href="{{ url_for('views.projects') }}"
                   class="text-neutral-400 hover:text-neutral-300">Projects</a>
              </li>
              <li class="text-neutral-400">/</li>
              <li>{{ project.title }}</li>
            </ul>
            <h1 class="font-black text-5xl w-4/5">{{ project.title }}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-[-100px] lg:m-0 py-20 bg-neutral-950 rounded-t-3xl lg:rounded-none">
      <div class="w-[768px] mx-auto space-y-14">
        <div class="flex justify-between">
          <div class="flex gap-4 text-neutral-400">
            <span>{{ project.reading_time }}</span>
            <span>{{ project.date }}</span>
          </div>
          <div>
            <button type="button"
                    onclick="copyLink()"
                    class="font-bold text-xl hover:text-neutral-400">Share</button>
            <!-- Tooltip -->
            <div id="tooltip"
                 class="absolute transform -translate-x-1/2 mt-2 px-4 py-2 text-sm bg-neutral-800 rounded-md opacity-0 invisible transition-opacity duration-300 ease-in-out">
              Link Copied!
            </div>
          </div>
        </div>
        <div class="text-justify space-y-10">{{ project.content }}</div>
        <div class="flex flex-col gap-4">
          <a href="{{ project.repository }}"
             target="_blank"
             rel="noopener noreferrer"
             class="hover:text-neutral-400">Source Code</a>
          <a href="{{ project.website }}"
             target="_blank"
             rel="noopener noreferrer"
             class="hover:text-neutral-400">Website</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
  <script type="text/javascript">
    const copyLink = () => {
      navigator.clipboard.writeText(
        "{{ url_for('views.single_project', slug='{{ project.slug }}', _external=True) }}"
      );

      // Show tooltip for 3 seconds
      const tooltip = document.getElementById('tooltip');
      tooltip.classList.remove('opacity-0', 'invisible');
      tooltip.classList.add('opacity-100', 'visible');
      setTimeout(() => {
        tooltip.classList.remove('opacity-100', 'visible');
        tooltip.classList.add('opacity-0', 'invisible');
      }, 3000);
    };
  </script>
{% endblock scripts %}
