{% extends "base.html" %}

{% block title %}
  {{ project.title }}
{% endblock title %}

{% block content %}
  <div>
    <div style="background-image: url('{{ url_for('static', filename='{{ project.cover_image }}') }}')">
      <div class="h-[700px]">
        <div class="pt-[200px] flex flex-col justify-center">
          <div class="w-[768px] mx-auto space-y-5">
            <ul class="flex gap-2">
              <li>
                <a href="{{ url_for('views.home') }}" class="text-neutral-400">Home</a>
              </li>
              <li class="text-neutral-400">/</li>
              <li>
                <a href="{{ url_for('views.projects') }}" class="text-neutral-400">Projects</a>
              </li>
              <li class="text-neutral-400">/</li>
              <li>{{ project.title }}</li>
            </ul>
            <h1 class="font-black text-5xl w-4/5">{{ project.title }}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-[-100px] py-20 bg-neutral-950 rounded-t-3xl">
      <div class="w-[768px] mx-auto space-y-14">
        <div class="flex justify-between">
          <div class="flex gap-4 text-neutral-400">
            <span>{{ project.reading_time }}</span>
            <span>{{ project.date }}</span>
          </div>
          <button type="button" onclick="copyLink()" class="font-bold text-xl">Share</button>
        </div>
        <div class="text-justify space-y-10">{{ project.content }}</div>
        <div class="flex flex-col gap-4">
          <a href="{{ project.repository }}"
             target="_blank"
             rel="noopener noreferrer">Source Code</a>
          <a href="{{ project.website }}"
             target="_blank"
             rel="noopener noreferrer">Website</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
  <script type="text/javascript">
    const copyLink = () => {
      navigator.clipboard.writeText(
        "{{ url_for('views.single_project', slug='{{ project.slug }}', _external=True) }}"
      );
    };
  </script>
{% endblock scripts %}
