<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon"
          type="image/png"
          href="{{ url_for('static', filename='icons/favicon.png') }}" />
    {% if meta %}
      {# SEO #}
      <meta name="description" content="{{ meta.description }}" />
      <meta name="keywords" content="{{ meta.keywords }}" />
      <meta name="author" content="{{ meta.author }}" />
      <meta name="language" content="{{ meta.language }}" />
      <meta name="robots" content="{{ meta.robots }}" />
      {# Social Media #}
      <meta property="og:title" content="{{ meta.og.title }}" />
      <meta property="og:description" content="{{ meta.og.description }}" />
      <meta property="og:image" content="{{ meta.og.image }}" />
      <meta property="og:url" content="{{ meta.og.url }}" />
      <meta property="og:type" content="{{ meta.og.type }}" />
      <meta property="og:locale" content="{{ meta.og.locale }}" />
      {# Twitter #}
      <meta name="twitter:card" content="{{ meta.twitter.card }}" />
      <meta name="twitter:title" content="{{ meta.twitter.title }}" />
      <meta name="twitter:description" content="{{ meta.twitter.description }}" />
      <meta name="twitter:image" content="{{ meta.twitter.image }}" />
      <meta name="twitter:creator" content="{{ meta.twitter.creator }}" />
    {% endif %}
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    <link href="{{ url_for('static', filename='css/styles.css') }}"
          rel="stylesheet" />
  </head>
  <body class="bg-neutral-950 text-neutral-200">
    <main class="mx-auto">
      {% block content %}
      {% endblock content %}
    </main>

    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
